.logo {
  max-height: 25vh;
  max-width: 95%;

  margin-top: 30px;
  margin-bottom: 10px;

  filter: drop-shadow(10px 5px 6px rgb(0 0 0 / 0.4));

  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}